#education-experience {
    margin: 2rem auto;
    width: 100vw;
    max-width: 65rem;
    text-align: left;
    padding: 1.5rem 2rem;
    background: rgb(50,50,50);
    border-radius: 0.5rem;
}

.sectionTitle {
    font-size: 2rem;
    font-weight: 400;
    color: yellow;
    margin-bottom: 1rem;
    text-align: center;
}

.edu-section, .exp-section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid rgba(158, 153, 153, 0.2);
    border-radius: 0.5rem;
    background: rgba(164, 162, 162, 0.1);
}

.eduItem, .expItem {
    margin-bottom: 1.5rem;
}

.eduItem h3, .expItem h3 {
    font-size: 1.5rem;
    font-weight: 200;
}

.eduItem p, .expItem p {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0.25rem;
}

/* Responsive adjustments */
@media screen and (max-width: 720px) {
    .sectionTitle {
        font-size: 2rem;
    }

    .eduItem h3, .expItem h3 {
        font-size: 1.5rem;
    }

    .eduItem p, .expItem p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .sectionTitle {
        font-size: 1.8rem;
    }

    .eduItem h3, .expItem h3 {
        font-size: 1.3rem;
    }

    .eduItem p, .expItem p {
        font-size: 0.8rem;
    }
}
