#works {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
    margin-bottom: 2rem;
}

.worksImgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 65rem;
    width: 100%;
}

.workItem {
    background: #f9f9f9;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 20rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.workItem:hover {
    transform: translateY(-5px);
}

.projectTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #3a3737;
}

.worksImg {
    object-fit: cover;
    height: 12rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.techStack {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

.workLinks {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.workBtn {
    padding: 0.5rem 1.5rem;
    margin: 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.workBtn:hover {
    background-color: #f0f0f0;
}

.worksBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 545px) {
    .worksImg {
        height: 40vw;
    }

    .workItem {
        max-width: 90%;
    }
}
